@font-face {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Nunito-Regular.ttf') format('ttf');
}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 2vmin;

}


@media all and (max-width: 800px) {
  html {
    font-size: 1.5vmin;
  }
}

@media all and (max-width: 600px) {
  html {
    font-size: 4vmin;
  }

  #btnPantalla {
    opacity: .3
  }

  #conectando {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 2rem !important;
  }

  #video-local {
    width: 10rem !important;
    height: 5.65rem !important;

  }
}


html,
body {
  background-color: #5f9ea0;
  display: grid;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-y: auto;
  --shadow-elevation-4-box: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  --shadow-elevation-4-z: 400;
}


#conectando {
  font-size: 5rem;
  color: rgba(0, 0, 0, 0.4);
  animation: blink 1s linear infinite alternate;
}

#conectando[conectado] {
  display: none
}

@keyframes blink {
  0% {
    opacity: .5;
  }

  50% {
    opacity: .75;
  }

  100% {
    opacity: 1;
  }
}

video {
  height: 100%;
  width: 100%;
}

#videos {
  display: grid;
  grid-auto-flow: row;
}

#video-local {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(-100%);
  width: 15rem;
  height: 8.47rem;
  z-index: 100
}

#video-remoto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
}

.vc {
  display: grid;
  position: relative;
  background-color: transparent;
  min-height: 25vh;
  border: 1px solid black;
}

.titulo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0 1rem 0.3rem 1rem;
  border-radius: 0 0 20px 20px;
  font-weight: bold;
}


#btnCerrar {
  background-color: red;
  stroke: white;
  fill: white
}

.menu:not([hablando]) .trigger {
  background-color: green;
  stroke: white;
  fill: white;
}

.menu[hablando] .trigger {
  background-color: darkorange
}

.menu[hablando] #atender {
  display: none
}

.menu:not([hablando]) #colgar {
  display: none;
}

#btnMicro[prendido] svg:first-child {
  display: none
}

#btnMicro:not([prendido]) svg:last-child {
  display: none;
}

#btnVideo[prendido] svg:first-child {
  display: none
}

#btnVideo:not([prendido]) svg:last-child {
  display: none;
}